.aboutPlaceholder {
  position: relative;
  background-image: url("../assets/profilephoto.jpg");
  background-size: cover;
  border-radius: 5%;
  max-height: 22rem;
}
.logo {
  position: absolute;
  background-color: white;
  bottom: 0;
  right: 0;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  animation: rotate 9s linear infinite;
}
.logo1 {
  position: absolute;
  transform: translate(5%, 5%);
  bottom: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
h3 {
  font-size: 1.5rem;
  color: #147efb;
  font-weight: 500;
}
h4 {
  font-size: 2rem;
  font-weight: 600;
}
p {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

@keyframes rotate {
  from {
    transform: translate(30%, 30%) rotate(0deg);
  }
  to {
    transform: translate(30%, 30%) rotate(360deg);
  }
}
