.portfolioImage {
  animation: changeShape 8s ease-in-out infinite;
  border: 3px solid black;
  background-image: url("../assets/portfolio.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .portfolioImage {
    width: 22rem;
    height: 22rem;
    margin-top: 0;
  }
}

.fontStyle1 {
  font-size: 5rem;
  font-weight: 600;
}
.fontStyle2 {
  font-size: 1.5rem;
}
.profileIconsStyle {
  color: #2e2e2e;
  width: 1.75rem;
}
.elevate {
  transition: all 0.3s ease-in-out;
}
.elevate:hover {
  transform: translateY(-1rem);
}

@keyframes changeShape {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  20% {
    border-radius: 45% 55% 55% 45%/55% 45% 45% 55%;
  }

  40% {
    border-radius: 55% 45% 45% 55%/45% 55% 55% 45%;
  }

  60% {
    border-radius: 45% 55% 55% 45%/55% 45% 45% 55%;
  }

  80% {
    border-radius: 55% 45% 45% 55%/45% 55% 55% 45%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}